.premium-list-item {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 12px;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(6px);
}

/* Hover effect */
.premium-list-item:hover {
    transform: translateY(-4px);
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.12);
}

/* Icon styling */
.icon-wrapper {
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
/* color: #3d5a9e;
    background: rgba(61, 90, 158, 0.14); */
    /* color: #157bc9;
        background: rgba(21, 123, 201, 0.14); */
        color: #2adeff;
            background: rgba(42, 222, 255, 0.14);
/* 4-color: #666666;
    background: rgba(102, 102, 102, 0.14); */
    font-size: 18px;
    transition: all 0.3s ease;
}

/* Icon hover pop */
.premium-list-item:hover .icon-wrapper {
    background: #2adeff;
    color: #fff;
    transform: scale(1.1);
}